.w1
{
    background-color:black;
    position:fixed;
    top:0px;
    right:0px;
    left:0px;
    height:100px;
    display:flex;

}
.g1
{
    color:white;
    font-size: larger;
    width:50px;
    margin-top:25px;
    margin-bottom: 25px;
    margin-left: 40px;
    margin-right:25px ;
  
}
.g2
{
    color:white;
    font-size: larger;
    margin:25px;
    width:50px;
}
.g3
{
    color:white;
    font-size: larger;
    margin:25px;
    width:50px;
    
}
.g4
{
    color:white;
    font-size: larger;
    margin:25px;
    width:50px;
    
}
.g5
{
    color:white;
    font-size: larger;
    margin:25px;
    width:50px;
    
}
.g6
{
    color:white;
    font-size: larger;
    margin:25px;
    width:50px;
    
}
.g7
{
    color:white;
    font-size: larger;
    margin-left:700px;
    width:50px;
    display:inline;
    margin-top: 25px;
    
}
a{
    color:white;
    text-decoration: none;
}
a:hover
{
    color: aqua;
}
.rt
{
    width:100%;
    height:100%;
    background-image: url("t5.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position:fixed;
    left:0px;
    right:0px;
    font-style: normal;
    font-weight: bolder;
    color:antiquewhite;
}
.rt:hover
{
    background-image: url("t6.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position:fixed;
    left:0px;
    right:0px;
    color:black;


}
.rt1
{
    position:absolute;
    top:100px;
    right:300px;
    left:300px;
    color:antiquewhite;
    height:300px;
    width:300px;
    padding:75px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: bolder;
}
  .m1
  {
      height:200px;
      width:200px;
     background-color: black;
      
  }
  .f1
  {
      position:fixed;
      left:0px;
      top:0px;
      bottom:0px;
      width:200px;
      height:100%;
      background-color:green;
      overflow:scroll;
      display:flex;
      flex-direction: column;
  }
  .s1
  {
      height:100%;
      width:100%;
      overflow: scroll;
  }
  .f2
  {
      margin:25px;
     font-size: 2rem;
     color: antiquewhite;
  }
  .f3
  {
      margin:25px;
     font-size: 2rem;
     color: antiquewhite;
  }
  .f4
  {
      margin:25px;
     font-size: 2rem;
     color: antiquewhite;
  }
  .f5
  {
      margin:25px;
     font-size: 2rem;
     color: antiquewhite;
  }
  .f6
  {
      margin:25px;
     font-size: 2rem;
     color: antiquewhite;
  }
 .o1
 {
     height:100%;
     width:100%;
     overflow: scroll;
 }